@if(loading){
<div class="tab-pane fade show active" id="tab-my-profile" role="tabpanel" aria-labelledby="tab-my-profile">
    <form [formGroup]="UserEditForm">
        <h3 class="mt-0 mb-15 color-brand-1">My Account</h3>
        <a class="font-md color-text-paragraph-2" href="#">Update your profile</a>
        <div class="mt-35 mb-40 box-info-profie">
            <div class="image-profile">
                <img [src]="UserEditForm.get('imglogo')?.value" alt="error">
            </div>
            <a style="margin-top: 1rem;" class="btn btn-apply">
                <input type="file" name="imglogo" id="" (change)="onFileChange($event)">Upload
                Avatar
            </a>
        </div>
        <div class="flex flex-wrap form-contact">
            <div class="col-lg-6 col-md-12" style="width: 30rem;">
                <div class="form-group">
                    <label class="font-sm color-text-mutted mb-10">Full Name</label>
                    <input class="form-control" type="text" name="name" formControlName="name">
                </div>
                <div class="form-group">
                    <label class="font-sm color-text-mutted mb-10">Email *</label>
                    <input class="form-control" type="text" formControlName="email">
                </div>
                <div class="form-group">
                    <label class="font-sm color-text-mutted mb-10">Contact number</label>
                    <input class="form-control" type="text" formControlName="phone">
                </div>
                <div class="form-group">
                    <label class="font-sm color-text-mutted mb-10">About</label>
                    <textarea class="form-control" formControlName="desc" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label class="font-sm color-text-mutted mb-10">GitHub website</label>
                    <input class="form-control" type="url" formControlName="github">
                </div>
                <div class="form-group">
                    <label class="font-sm color-text-mutted mb-10">Country</label>
                    <input class="form-control" type="text" formControlName="country">
                </div>
                <div class="form-group">
                    <label class="font-sm color-text-mutted mb-10">State</label>
                    <input class="form-control" type="text" formControlName="state">
                </div>
                <div formArrayName="experienceArray">
                    <div *ngFor="let item of getExperience().controls; let i = index" [formGroupName]="i">
                        <div>
                            <div class="flex justify-between items-center">
                                <p class="mt-5 mb-5">{{ i + 1 }}. Experience details</p>
                                <div>
                                    <i (click)="addExperience()" class="fa-solid fa-circle-plus text-2xl mr-2"></i>
                                    <i *ngIf="i != 0" (click)="removeExperience(i)" class="fa-solid fa-circle-minus text-2xl mr-2"></i>
                                </div>
                            </div>
                            <hr class="mb-5">
                            <div class="form-group">
                                <label class="font-sm color-text-mutted mb-10">Job Title</label>
                                <input class="form-control" type="text" formControlName="title">
                            </div>
                            <div class="form-group">
                                <label class="font-sm color-text-mutted mb-10">Job Company Name</label>
                                <input class="form-control" type="text" formControlName="jobcompany">
                            </div>

                            <div class="form-group flex flex-wrap" style="margin-right: 1rem;">
                                <div style="margin-right: 2rem;">
                                    <label class="font-sm color-text-mutted mb-10">Start</label>
                                    <input class="form-control" type="text" formControlName="start">
                                </div>
                                <div class="form-group" style="margin-right: 1rem;">


                                    <label class="font-sm color-text-mutted mb-10">End</label>
                                    <input class="form-control" type="text" formControlName="end">
                                </div>
                            </div>

                            <div class="form-group" style="margin-right: 1rem;">
                                <label class="font-sm color-text-mutted mb-10">Location</label>
                                <input class="form-control" type="text" formControlName="loc">
                            </div>
                        </div>
                    </div>
                </div>
                <div formArrayName="education">
                    <div *ngFor="let item of getEducation().controls; let i = index" [formGroupName]="i">
                        <div class="flex justify-between items-center">
                            <p class="mt-5 mb-5">{{ i + 1 }}. Education details</p>
                            <div>
                                <i (click)="addEducation()" class="fa-solid fa-circle-plus text-2xl mr-2"></i>
                                <i *ngIf="i != 0" (click)="removeEducation(i)" class="fa-solid fa-circle-minus text-2xl mr-2"></i>
                            </div>
                        </div>
                        <hr class="mb-5">
                        <div class="form-group">
                            <label class="font-sm color-text-mutted mb-10">Degree Name</label>
                            <input class="form-control" type="text" formControlName="degree">
                        </div>
                        <div class="form-group">
                            <label class="font-sm color-text-mutted mb-10">Institute Name</label>
                            <input class="form-control" type="text" formControlName="college">
                        </div>
                        <div class="form-group flex flex-wrap" style="margin-right: 1rem;">
                            <div style="margin-right: 2rem;">
                                <label class="font-sm color-text-mutted mb-10">Start</label>
                                <input class="form-control" type="text" formControlName="start">
                            </div>
                            <div class="form-group" style="margin-right: 1rem;">
                                <label class="font-sm color-text-mutted mb-10">End</label>
                                <input class="form-control" type="text" formControlName="end">
                            </div>
                        </div>
                        <div class="form-group" style="margin-right: 1rem;">
                            <label class="font-sm color-text-mutted mb-10">Location</label>
                            <input class="form-control" type="text" formControlName="loc">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12" style="margin-left: 10px; width: 30rem;">
                <div class="box-skills" formArrayName="skills">
                    <h5 class="mt-0 color-brand-1">Skills</h5>
                    <div class="form-contact">
                        <div class="form-group">
                            <input class="form-control search-icon" type="text" placeholder="E.g. Angular, Laravel..."
                                [formControl]="skillInput" >
                                <i (click)="addskills()" class="fa-solid fa-plus-circle" style="position: relative; right: -24rem;  top: -2.5rem; font-size: 1.2rem;"></i>
                        </div>
                        <div>
                            
                        </div>
                    </div>
                    <div class="box-tags mt-30">
                        <a *ngFor="let skill of UserEditForm.get('skills')?.value; let i = index"
                            class="btn btn-grey-small mr-10">
                            {{skill }}
                            <i class="fa-solid fa-xmark ml-4"  (click)="removeskills(i)"></i>
                            
                        </a>
                    </div>
                    <div class="mt-40">
                        <span class="card-info font-sm color-text-paragraph-2">You can add up to 15 skills</span>
                    </div>
                </div>
                
                <div class="file-upload-container  text-2xl" style="margin-top: 2rem; ">

                    <button type="button" class="w-[28vw]  flex  justify-between items-center  py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">

                        <input type="file" id="fileInput" style="display: none;" name="resume" (change)="onFileChange($event)">
                        <div class="mr-10">
                        <a *ngIf="resumeStatus === 0" class="text-2xl">
                          <span class="text-3xl " style="font-size: 1.1rem; color: rgb(149, 146, 149);">Upload Resume Here</span>
                        </a>
                        <a *ngIf="resumeStatus === 1" class="text-2xl flex ">
                          <span class="text-2xl "style="font-size: 1.1rem; color: rgb(149, 146, 149);">Uploading</span> <img class="w-[3rem] h-[3rem]" src="https://cdn.pixabay.com/animation/2022/07/29/03/42/03-42-05-37_512.gif" alt="">
                        </a>
                        <a *ngIf="resumeStatus === 2" [href]="UserEditForm.get('resume')?.value" target="_blank" class="text-2xl">
                        <span class="text-2xl "style="font-size: 1.1rem; color: rgb(149, 146, 149);">View Resume </span>  
                        </a></div>
                        <img (click)="openInput()" class="w-[3rem] h-[3rem]" src="https://cdn.pixabay.com/photo/2016/01/03/00/43/upload-1118929_960_720.png" alt="" >
                      </button>
                      
                </div>

            </div>





        </div>
        <div class="box-button mt-15">
            <button type="submit" (click)="handlesubmit()" class="btn btn-apply-big font-md font-bold">Save All
                Changes</button>
        </div>
    </form>
</div>}
@else {
<div></div>
}