.file-upload-container {
    display: inline-block;
    position: relative;
  }
  
  .file-upload-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid #cecece;
    /* background-color: #007bff; */
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 5px;
   margin-top: 2rem;
   height: 5rem;
    width: 30rem;
    cursor: pointer;
    outline: none;
  }
  
  .file-upload-btn:hover {
    background-color: #8e97a1;
  }
  
  .file-upload-btn .upload-icon {
    margin-left: 10px;
    width: 3rem;
    height: 3rem;
    background-image: url('https://static.vecteezy.com/system/resources/previews/015/337/675/original/transparent-upload-icon-free-png.png'); /* Replace with your upload icon */
    background-size: cover;
    display: inline-block;
  }
  
  #fileInput {
    display: none;
  }
  

button,
input,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
}

textarea {
    overflow: auto;
}

[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

/*! end @import */
/*! @import https://jobbox-html.netlify.app/frontend/assets/css/vendors/bootstrap.min.css */
*,
::after,
::before {
    box-sizing: border-box;
}

h3,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    font-size: calc(1.3rem + .6vw);
}

@media (min-width:1200px) {
    h3 {
        font-size: 1.75rem;
    }
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

a {
    color: #0d6efd;
    text-decoration: underline;
}

a:hover {
    color: #0a58ca;
}

img {
    vertical-align: middle;
}

label {
    display: inline-block;
}

button {
    border-radius: 0;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

button,
input,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
}

button:not(:disabled) {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}

@media (min-width:768px) {
    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width:992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none;
    }
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #6ea4f5;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

textarea.form-control {
    min-height: calc(1.5em + .75rem + 2px);
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.btn:disabled {
    pointer-events: none;
    opacity: .65;
}

.btn-link {
    font-weight: 400;
    color: #0d6efd;
    text-decoration: underline;
}

.btn-link:hover {
    color: #0a58ca;
}

.btn-link:disabled {
    color: #6c757d;
}

.fade {
    transition: opacity .15s linear;
}

@media (prefers-reduced-motion:reduce) {
    .fade {
        transition: none;
    }
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

/*! end @import */
div,
span,
h3,
h5,
h6,
a,
img,
label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img {
    max-width: 100%;
}

input,
button,
textarea {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
}

*:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}

a {
    color: #05264E;
}

a:hover {
    color: #3C65F5;
}

a *:hover {
    color: #3C65F5;
}

::selection {
    background: #05264E;
    color: #fff;
}

::placeholder {
    color: #A0ABB8;
    opacity: 1;
}

*:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus {
    outline: none !important;
    box-shadow: none;
}

.form-control {
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 11px 15px 13px 15px;
    width: 100%;
    color: #0b1623c5;
}

.form-control::placeholder {
    color: #8c9fb6;
}

.form-group {
    position: relative;
}

a {
    text-decoration: none;
}

*:hover {
    transition-duration: 0.2s;
}

h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #05264E;
}

h5 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #05264E;
}

h6 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #05264E;
}

.font-md,
.font-sm,
.font-xs {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.font-md {
    font-size: 16px !important;
    line-height: 24px !important;
}

.font-sm {
    font-weight: 500;
    font-size: 14px !important;
    line-height: 22px !important;
}

.font-xs {
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 18px !important;
}

.font-bold {
    font-weight: bold;
}

.color-text-paragraph-2 {
    color: #66789C;
}

.color-text-mutted {
    color: #A0ABB8;
}

.color-orange {
    color: #F58A3C !important;
}

.color-brand-1 {
    color: #05264E !important;
}

a,
button,
img,
input,
span {
    transition: all 0.3s ease 0s;
}

h3,
h5,
h6 {
    color: #05264E;
}

.btn {
    font-family: "Plus Jakarta Sans", sans-serif;
    border-radius: 8px;
    padding: 13px 25px;
    font-size: 14px;
    line-height: 1;
    transition: 0.2s;
}

.btn-grey-small {
    background-color: #EFF3FC;
    font-size: 12px;
    padding: 7px 10px;
    border-radius: 5px;
    color: #4F5E64 !important;
}

.btn-grey-small:hover {
    color: #3C65F5 !important;
}

.btn-apply {
    background-color: #3C65F5;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 4px;
}

.btn-apply:hover {
    background-color: #05264E;
    color: #ffffff;
}

.btn-apply-big {
    background-color: #3C65F5;
    color: #ffffff;
    padding: 18px 35px;
    border-radius: 4px;
}

.btn-apply-big:hover {
    color: #fff;
    background-color: #05264E;
}

.btn-link {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #05264E;
    text-decoration: underline;
}

.btn-link:hover {
    color: #3C65F5;
}

input[type=text] {
    border: 1px solid #E0E6F7;
    border-radius: 4px;
    height: 50px;
    box-shadow: none;
    padding-left: 20px;
    font-size: 14px;
    width: 100%;
}

input[type=text]:focus {
    border: 1px solid #EFF2FB;
}

textarea {
    border: 1px solid #E0E6F6;
    border-radius: 10px;
    height: 50px;
    box-shadow: none;
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    width: 100%;
    min-height: 250px;
}

textarea:focus {
    background: transparent;
    border: 1px solid #B4C0E0;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group input {
    background: #fff;
    border: 1px solid #E0E6F6;
    height: 53px;
    box-shadow: none;
    padding-left: 20px;
    font-size: 16px;
    width: 100%;
}

.form-group input:focus {
    border-color: #B4C0E0;
}

label {
    margin-bottom: 5px;
}

.pt-10 {
    padding-top: 10px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-35 {
    margin-top: 35px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.image-profile {
    display: inline-block;
    max-width: 85px;
    vertical-align: middle;
    margin-right: 25px;
}

.image-profile img {
    border-radius: 16px;
    display: block;
}

.form-contact .form-control {
    width: 100%;
    border: 2px solid #c6d5ff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
}

.form-contact .form-control:focus {
    border: 2px solid #EFF2FB;
}

.form-contact textarea.form-control {
    height: auto;
}

.form-contact .search-icon {
    background-image: url(https://jobbox-html.netlify.app/frontend/assets/imgs/page/candidates/search.svg);
    background-position: right 15px top 11px;
    background-repeat: no-repeat;
}

.form-contact .border-bottom {
    border-color: #E0E6F7;
}

.box-skills {
    border: 2px solid #E0E6F6;
    padding: 22px 27px;
    margin-top: 33px;
    border-radius: 4px;
}

.box-tags a {
    margin-bottom: 10px;
}

.close-icon {
    background-image: url(https://jobbox-html.netlify.app/frontend/assets/imgs/page/candidates/close.svg);
    background-position: center;
    display: inline-block;
    height: 7px;
    width: 10px;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.card-info {
    display: inline-block;
    padding: 0px 0px 0px 20px;
    background-image: url(https://jobbox-html.netlify.app/frontend/assets/imgs/page/candidates/info.svg);
    background-position: left center;
    background-repeat: no-repeat;
}

.lbl-checkbox {
    float: left;
    margin: 2px 8px 0px 0px;
    height: 13px;
}

.box-button .btn {
    width: 100%;
}

.content-single h3,
.content-single h5 {
    margin-top: 20px;
    color: #4F5E64;
    font-weight: bold;
    margin-bottom: 20px;
}

@media (max-width: 374.98px) {
    .image-profile {
        max-width: 100%;
        width: 100%;
    }
}

/*! CSS Used fontfaces */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-400-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-ext-400-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-ext-400-normal.woff) format('woff');
    unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-vietnamese-400-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-vietnamese-400-normal.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-cyrillic-ext-400-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-cyrillic-ext-400-normal.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-500-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-500-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-ext-500-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-ext-500-normal.woff) format('woff');
    unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-vietnamese-500-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-vietnamese-500-normal.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-cyrillic-ext-500-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-cyrillic-ext-500-normal.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-600-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-600-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-ext-600-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-ext-600-normal.woff) format('woff');
    unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-vietnamese-600-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-vietnamese-600-normal.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-cyrillic-ext-600-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-cyrillic-ext-600-normal.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-700-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-700-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-ext-700-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-ext-700-normal.woff) format('woff');
    unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-vietnamese-700-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-vietnamese-700-normal.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-cyrillic-ext-700-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-cyrillic-ext-700-normal.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-800-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-800-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-ext-800-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-latin-ext-800-normal.woff) format('woff');
    unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-vietnamese-800-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-vietnamese-800-normal.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: 100%;
    src: url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-cyrillic-ext-800-normal.woff2) format('woff2'), url(https://fonts.bunny.net/plus-jakarta-sans/files/plus-jakarta-sans-cyrillic-ext-800-normal.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}